header {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    height: 150px;
    border-bottom: 2px solid black;
}
header h1 {
    height: 100px;
    width: 200px;
}
header p {
    position: absolute;
    left:0;
    height: 50px;
    margin-left: 20px;
    margin-top: 120px;
}
.My_hod {
    margin-right: 100px;
}
.butd {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 520px;
}
.butd h3 {
    width: 150px;
    margin-right: -40px;
}
.d1 {
    margin-left: -500px;
    text-align: center;
    margin-bottom: 70px;
}
.d2 {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.img_d {
    height: 100px;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
}
#but_Higher, #but_Lower {
    height: 20px;
}
.ctverD{
    display: flex;
    align-items: center;
    
    height: 25px;
}
.square {
    margin-left: 5px;
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 50%;
}
.sect1 {
    
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 99vw;
}
#next {
    
    background-color: rgba(60, 139, 139, 0.712);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
}
.popUp {
    display: none;
    top: 280px;
    right: 100px;
    position: fixed;
    border: 2px solid black;
    border-radius: 5%;
    margin-left: 100px;
    width: 500px;
    height: 550px;
}
.borderBut {
    bottom: 0;
    width: 524px;
    position: fixed;
    background-color: white;
}
.butKom {
    border: 1px solid black;
    background-color: rgba(60, 139, 139, 0.712);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.square:hover {
    background-color: yellow;
}
.square:has(~.square:hover){
    background-color: yellow;
}

.comment {
    display: flex;
    height: 100px;
    width: 400px;
}
.picture {
    height: 80px;
    width: 80px;
}
.star {
    width: 20px;
    height: auto;
}

.starDiv {
    width: 60px;
}